/* Reseteo global para eliminar márgenes y paddings por defecto del navegador */
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box; /* Asegura que padding y borde se incluyan en el ancho/alto */
  overflow-x: hidden; /* Evita el scroll horizontal no deseado */
}

/* Hereda box-sizing para todos los elementos */
*, *::before, *::after {
  box-sizing: inherit;
}

/* Estilos para asegurar que el #root de React ocupe todo el espacio disponible */
#root {
  width: 100%;
  height: 100%;
}
